* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #ffb63a;
}
.container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.add-images {
    min-height: 300px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(91, 91, 91, 0.15);
    padding: 25px 50px;
    border-radius: 15px;
}

.add-images h1 {
    text-align: center;
}
label {
    display: block;
}
form {
    margin-top: 40px;
}
form > div {
    margin-bottom: 20px;
}

.show-images {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}
.polaroid {
    background: #fff;
    box-shadow: 0 8px 16px rgba(91, 91, 91, 0.15);
    flex-basis: 400px;
    height: 450px;
    padding: 25px;
}
.polaroid__image {
    width: 100%;
    height: 300px;
}
.polaroid__image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: inset 0 3px 6px rgba(91, 91, 91, 0.15);
}
